<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ERS.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeCookies</display-name>
    <servlet-name>MakeCookies</servlet-name>
    <servlet-class>com.ERS.session.MakeCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeCookies</servlet-name>
    <url-pattern>/MakeCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookies</display-name>
    <servlet-name>DeleteCookies</servlet-name>
    <servlet-class>com.ERS.session.DeleteCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookies</servlet-name>
    <url-pattern>/DeleteCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvalidSession</display-name>
    <servlet-name>InvalidSession</servlet-name>
    <servlet-class>com.ERS.session.InvalidSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvalidSession</servlet-name>
    <url-pattern>/InvalidSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSession</display-name>
    <servlet-name>JSession</servlet-name>
    <servlet-class>com.ERS.session.JSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSession</servlet-name>
    <url-pattern>/JSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SigninServlet</display-name>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>com.ERS.servlets.SigninServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DAO</display-name>
    <servlet-name>DAO</servlet-name>
    <servlet-class>com.ERS.servlets.DAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DAO</servlet-name>
    <url-pattern>/DAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementServlet</display-name>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.ERS.servlets.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/ReimbursementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllReims</display-name>
    <servlet-name>GetAllReims</servlet-name>
    <servlet-class>com.ERS.servlets.GetAllReims</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllReims</servlet-name>
    <url-pattern>/GetAllReims</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.ERS.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.ERS.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/AuthenticationFilter</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.ERS.servlets.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmps</display-name>
    <servlet-name>GetAllEmps</servlet-name>
    <servlet-class>com.ERS.servlets.GetAllEmps</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmps</servlet-name>
    <url-pattern>/GetAllEmps</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpById</display-name>
    <servlet-name>GetEmpById</servlet-name>
    <servlet-class>com.ERS.servlets.GetEmpById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpById</servlet-name>
    <url-pattern>/GetEmpById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimById</display-name>
    <servlet-name>GetReimById</servlet-name>
    <servlet-class>com.ERS.servlets.GetReimById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimById</servlet-name>
    <url-pattern>/GetReimById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementStatusServlet</display-name>
    <servlet-name>ReimbursementStatusServlet</servlet-name>
    <servlet-class>com.ERS.servlets.ReimbursementStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementStatusServlet</servlet-name>
    <url-pattern>/ReimbursementStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MgrInfoServlet</display-name>
    <servlet-name>MgrInfoServlet</servlet-name>
    <servlet-class>com.ERS.servlets.MgrInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MgrInfoServlet</servlet-name>
    <url-pattern>/MgrInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMgrById</display-name>
    <servlet-name>GetMgrById</servlet-name>
    <servlet-class>com.ERS.servlets.GetMgrById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMgrById</servlet-name>
    <url-pattern>/GetMgrById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmpForMgrById</display-name>
    <servlet-name>GetEmpForMgrById</servlet-name>
    <servlet-class>com.ERS.servlets.GetEmpForMgrById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmpForMgrById</servlet-name>
    <url-pattern>/GetEmpForMgrById</url-pattern>
  </servlet-mapping>
</web-app>